*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    transition: .5s ease-in-out;
}
.container{
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 8px 8px 8px;
}
.container p{
    font-size: 20px;
}
button{
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    border: none;
    font-size: 18px;
    transition: .5s ease-in-out;
}